.add-profile {
  background-color: #edeff6;
  background-image: url("../../img/rates@1x.png");
  background-repeat: no-repeat;

  .add-profile__list {
    .light(16px, 22px);
    color: #717273;

    list-style: none;
  }

  .add-profile__show-tariff {
    .bold(16px, 16px);
    color: #192144;

    text-decoration: none;
  }
}

@media (min-width: @tablet-width) {
}

@media (min-width: @desktop-width) {
}

