.business-tariff {
  position: absolute;

  display: none;
  top: 22px;
  width: 270px;
  min-height: 445px;
  background-color: #ffffff;

  border-radius: 20px;

  z-index: 10;

  &--active {
    display: flex;
    flex-direction: column;
  }

  .business-tariff__list {
    margin: 0 auto;
  }

  .business-tariff__subtitle-two {
    width: 219px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #f2f2f2;
  }

  .business-tariff__list {
    .light(16px, 22px);
    color: #a8a8a8;
    list-style: none;
  }

  .business-tariff__cell {
    display: block;
  }

  .business-tariff__cell:nth-child(2) {
    width: 219px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
  }

  .business-tariff__button-close {
    .bold(16px, 24px);
    color: #1d2e5b;
    text-transform: uppercase;

    border: none;
    background-color: #f3f4f8;
  }
}
