.comment {
  position: relative;
  width: 162px;
  min-height: 150px;
  margin-left: 50px;

  .comment__quote {
    .light(16px, 22px);
    color: #ffffff;
  }

  .comment__cite {
    .bold(16px, 22px);
    color: #ffffff;
  }
}

@media (min-width: @tablet-width) {
  .comment {
    width: 280px;
    min-height: 200px;
    margin-top: -21px;
    margin-left: 74px;

    .comment__quote {
      .light(28px, 33px);
    }

    .comment__cite {
      .bold(21px, 25px);
      width: 250px;
      display: block;
      margin-top: 43px;
    }
  }
}

@media (min-width: @desktop-width) {
  .comment {
    width: 285px;
    min-height: 200px;
    margin-left: 10px;
    margin-right: 61px;
    margin-top: 75px;
  }
}
