.direction {

  background-color: white;

  .direction__text {
    .light(16px, 22px);
  }

  .direction__list {
    list-style: none;
  }

  h3 {
    .bold(21px, 21px);
    color: #161c35;
  }

  span {
    .medium(16px, 30px);
    opacity: 0.3;
  }

  b {
    .medium(16px, 18px);
    opacity: 0.3;
  }

  .direction__show-all {
    .bold(18px, 18px);
    color: #1d2e5b;

    background-color: #ffd74b;

    text-decoration: none;
  }
}
