.direction {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 1025px;
  margin: auto;
  margin-top: -35px;
  padding-left: 25px;
  padding-right: 25px;

  background-color: #edeff6;
  border-radius: 0 0 30px 30px;

  z-index: 9;
  box-sizing: border-box;

  .direction__subtitle-two-text {
    width: 200px;
    min-height: 150px;
    margin-top: 108px;
    margin-left: 26px;
  }

  .direction__text {
    .light(16px, 22px);
    margin-top: 19px;
  }

  .direction__list {
    width: 270px;
    min-height: 600px;

    .list-reset();
    margin-top: 35px;
  }

  .direction__item {
    margin-top: 10px;
  }

  .direction__images {
    position: relative;
    border-radius: 10px 10px 0 0;
    z-index: 1;
  }

  .direction__item-info {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 90px;
    width: 270px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 17px;
    margin-top: -15px;

    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 2;
  }

  .direction__images-flag {
    display: none;
  }

  h3 {
    width: 105px;
    .bold(21px, 21px);
    color: #161c35;
    .list-reset();
  }

  span {
    position: relative;
    padding-left: 25px;
    margin-top: -2px;
    .medium(16px, 30px);
    opacity: 0.3;

    text-align: end;

    &::before {
      content: "";

      position: absolute;
      top: 8px;
      right: 48px;

      width: 11px;
      height: 11px;
      background-image: url("../img/user.svg");
      background-repeat: no-repeat;
      background-position: 0 0;


      opacity: 0.3;
    }
  }

  .direction__number-people-сzech {
    &::before {
      content: "";

      position: absolute;
      top: 8px;
      right: 38px;

      width: 11px;
      height: 11px;
      background-image: url("../img/user.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  b {
    width: 171px;
    margin-top: -8px;
    .medium(16px, 18px);
    opacity: 0.3;
  }

  .direction__show-all {
    position: relative;

    width: 270px;
    min-height: 63px;
    margin-top: 21px;
    margin-bottom: 20px;
    padding-top: 23px;
    padding-left: 23px;

    .bold(18px, 18px);
    color: #1d2e5b;

    background-color: #ffd74b;
    border-radius: 10px;
    box-sizing: border-box;

    text-decoration: none;

    &::before {
      content: "";

      position: absolute;
      top: 25px;
      right: 24px;

      width: 10px;
      height: 14px;
      background-image: url("../img/triangle-arrow-right.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &:hover {
      background-color: #ffbd30;
    }

    &:active,
    &--active {
      color: rgba(29, 46, 81, 0.3);
    }

    &:active::before,
    &--active::before {
      opacity: 0.3;
    }
  }

  .direction__item:last-child .direction__item-info {
    background: linear-gradient(to top, #edeff6 0%, #ffffff 120%);
  }
}

@media (min-width: @tablet-width) {
  .direction {
    display: flex;
    flex-direction: column;
    width: 768px;
    min-height: 1040px;
    margin: 0;
    margin-top: -35px;
    padding-left: 25px;
    padding-right: 25px;

    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: 95% 15%;
    background-color: #edeff6;
    border-radius: 0 0 30px 30px;

    .direction__subtitle-two-text {
      width: 360px;
      min-height: 170px;
      margin-top: 55px;
      margin-left: 20px;
    }

    .direction__text {
      .light(16px, 22px);
    }

    .direction__list {
      width: 625px;
      min-height: 455px;

      .list-reset();
      margin: auto;
      margin-top: 20px;
    }

    h3 {
      .bold(21px, 21px);
      color: #161c35;
    }

    span {
      .medium(16px, 30px);
      opacity: 0.3;
    }

    b {
      .medium(16px, 18px);
      opacity: 0.3;
    }

    .direction__show-all {
      width: 620px;
      min-height: 80px;
      margin: auto;
      margin-top: -45px;

      .bold(18px, 18px);
      color: #1d2e5b;

      text-decoration: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .direction {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 1440px;
    min-height: 590px;
    margin: auto;
    margin-top: -35px;

    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: 95% 35%;
    background-color: #edeff6;
    border-radius: 0 0 30px 30px;

    .direction__subtitle-two-text {
      width: 345px;
      min-height: 280px;
      margin-top: 80px;
      margin-left: 160px;
    }

    .direction__text {
      .light(16px, 22px);
    }

    .direction__list {
      order: -1;
      width: 565px;
      min-height: 445px;

      .list-reset();
      margin-top: 80px;
      margin-left: 70px;
    }

    h3 {
      .bold(21px, 21px);
      color: #161c35;
    }

    span {
      .medium(16px, 30px);
      opacity: 0.3;
    }

    b {
      .medium(16px, 18px);
      opacity: 0.3;
    }

    .direction__show-all {
      width: 275px;
      min-height: 80px;
      margin: auto;
      margin-top: -105px;
      margin-left: 803px;

      .bold(18px, 18px);
      color: #1d2e5b;

      text-decoration: none;
    }
  }
}
