.main-nav {
  background-color: #ffffff;
}

.site-list {
  .medium(30px, 36px);
  text-transform: uppercase;
  color: #192144;

  list-style: none;
}

.site-list a {
  text-decoration: none;
}

.main-nav__wrapper a {
  text-decoration: none;
}

.main-nav__login {
  .bold(17px, 36px);
  color: #161c35;

  background-color: #ffd74b;

  text-transform: uppercase;
}

.main-nav__tel,
.main-nav__letter {
  .bold(16px, 22px);
  color: #192144;
}
