
.main-nav__wrapper a {
  text-decoration: none;
}

.main-nav__login {
  .bold(17px, 36px);
  color: #161c35;

  background-color: #ffd74b;

  text-transform: uppercase;
}

.main-nav__tel,
.main-nav__letter {
  .bold(16px, 22px);
  color: #192144;
}
.main-nav {
  display: none;

  width: 320px;
  min-height: 568px;

  margin: auto;

  background-color: white;
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: none;

    width: @tablet-width;
    min-height: 911px;

    margin: auto;

    background-color: white;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    width: 410px;
    min-height: 45px;
    margin-right: 150px;

    background-color: white;
  }
}
