.page-header {
  position: relative;
  display: flex;

  margin: auto;

  width: 320px;
  min-height: 65px;

  background-color: #161c36;

  .page-header__logo {
    width: 150px;
    height: 70px;
  }

  .toggle {
    padding: 0;
    margin: 0;
  }

  .page-header__wrapper-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 695px;
    min-height: 40px;

    margin: auto;
    margin-top: 35px;
  }

  .page-header__user-list {
    position: absolute;
    top: 438px;
    left: 5px;

    width: 270px;
    min-height: 50px;

    display: flex;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    width: @tablet-width;
    min-height: 130px;

    background-color: #182044;

    .page-header__wrapper-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 695px;
      min-height: 40px;

      margin: auto;
      margin-top: 35px;
    }

    .page-header__logo {
      width: 180px;
      height: 50px;
      margin-top: px;
    }

    .toggle {
      padding: 0;
      margin: 0;
    }

    .page-header__user-list {
      position: static;
      top: 0;
      left: 0;

      width: 195px;
      min-height: 50px;

      .list-reset();
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1440px;
    min-height: 130px;

    background-color: #161c34;

    .page-header__wrapper-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 1320px;
      min-height: 80px;

      margin: auto;
      margin-top: 35px;
    }

    .page-header__logo {
      width: 205px;
      height: 60px;
      margin-top: 10px;
    }

    .toggle {
      padding: 0;
      margin: 0;
    }

    .page-header__user-list {
      position: static;

      display: flex;
      width: 290px;
      min-height: 20px;
      margin-right: auto;

      .list-reset();
    }
  }
}
