.scope {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 330px;
  margin: auto;
  margin-top: -185px;

  background: linear-gradient(to top, #192144 44%, #161c35 44%);

  .scope__list {
    width: 270px;
    .bold(18px, 18px);
    color: #161c35;

    .list-reset();
    margin: 0 auto;
    margin-top: 210px;
  }

  .scope__item {
    position: relative;
    width: 270px;
    min-height: 95px;
    padding-top: 21px;
    padding-left: 24px;

    border-radius: 10px;
    box-sizing: border-box;

    background-color: #ff8d30;
  }

  .scope__item::after {
    position: absolute;
    top: 22px;
    right: 19px;
    counter-increment: section;
    content: counters(section,".") " ";

    .bold(18px, 18px);
    color: white;
  }

  .scope__item:nth-child(1) {
    z-index: 1;
  }

  .scope__item:nth-child(2) {
    margin-top: -15px;
    background-color: #ffa530;
    z-index: 2;
  }

  .scope__item:nth-child(3) {
    margin-top: -15px;
    background-color: #ffbd30;
    z-index: 3;
  }

  .scope__item:nth-child(4) {
    margin-top: -15px;
    min-height: 80px;
    background-color: #ffd74b;
    z-index: 4;
  }
}

@media (min-width: @tablet-width) {
  .scope {
    width: 768px;
    min-height: 230px;
    margin: auto;

    background: linear-gradient(to top, #192144, #192144);

    .scope__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 688px;
      min-height: 290px;

      .bold(18px, 18px);
      color: #161c35;

      background-color: transparent;

      .list-reset();
      margin: auto;
      margin-top: -139px;
    }

    .scope__item {
      width: 344px;
      min-height: 142px;
      padding-top: 31px;
      padding-left: 32px;

      .bold(24px, 24px);
    }

    .scope__item:nth-child(1) {
      width: 361px;
      border-radius: 20px 0 0 0;
    }

    .scope__item:nth-child(2) {
      border-radius: 20px 20px 0 0;
      margin-top: 0;
      margin-left: -17px;
    }

    .scope__item:nth-child(3) {
      width: 361px;
      border-radius: 0 0 0 20px;
    }

    .scope__item:nth-child(4) {
      border-radius: 0 0 20px 20px;
      margin-left: -17px;
      min-height: 142px;
    }

    .scope__item::after {
      position: absolute;
      top: 44px;
      right: 0px;
      left: 33px;
      counter-increment: section;
      content: counters(section,".") " ";

      .bold(30px, 120px);
      color: white;
    }
  }
}

@media (min-width: @desktop-width) {
  .scope {
    width: 1440px;
    min-height: 130px;
    margin: auto;
    margin-top: -51px;

    background-color: #161c34;

    .scope__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 1321px;
      min-height: 110px;
      .bold(18px, 18px);
      color: #161c35;

      background-color: transparent;

      .list-reset();
      margin: auto;
      margin-top: -182px;
    }

    .scope__item {
      width: 344px;
      min-height: 108px;
      padding-top: 29px;
      padding-left: 32px;
      font-family: "Blogger Sans", "Arial", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 24px;
      line-height: 24px;
      border-radius: 10px 0 10px 0;
    }

    .scope__item:nth-child(1) {
      width: 361px;
      border-radius: 20px 0 0 20px;
    }

    .scope__item:nth-child(2) {
      width: 364px;
      border-radius: 20px 20px 0 0;
      margin-top: 0;
      margin-left: -47px;
      border-radius: 20px 0 0 20px;
    }

    .scope__item:nth-child(3) {
      margin-top: 0;
      margin-left: -17px;
      background-color: #ffbd30;
      z-index: 3;
      border-radius: 20px 0 0 20px;
   }

   .scope__item:nth-child(4) {
      border-radius: 20px 20px 20px 20px;
      margin-left: -17px;
      min-height: 108px;
      width: 315px;
      margin-top: 0;
    }

    .scope__item::after {
      top: -18px;
      left: 268px;
    }

    .scope__item:nth-child(2)::after {
      left: 299px;
    }

    .scope__item:nth-child(3)::after {
      left: 299px;
    }

    .scope__item::after {
      font-size: 24px;
    }
  }
}
