.scope {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 330px;
  margin: auto;

  background-color: #161c35;

  .scope__list {
    width: 270px;
    .bold(18px, 18px);
    color: #161c35;

    background-color: #ff8d30;

    .list-reset();
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .scope {
    width: 768px;
    min-height: 300px;
    margin: auto;

    background-color: #192144;

    .scope__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 688px;
      min-height: 290px;
      .bold(18px, 18px);
      color: #161c35;

      background-color: #ff8d30;

      .list-reset();
      margin: auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .scope {
    width: 1440px;
    min-height: 130px;
    margin: auto;

    background-color: #161c34;

    .scope__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 1320px;
      min-height: 110px;
      .bold(18px, 18px);
      color: #161c35;

      background-color: #ff8d30;

      .list-reset();
      margin: 0 auto;
    }
  }
}
