.site-list {
  .medium(30px, 36px);
  text-transform: uppercase;
  color: #192144;

  list-style: none;

  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
  }

  @media (min-width: @tablet-width) {
  }

  @media (min-width: @desktop-width) {
    display: flex;
    color: white;
  }
}

