.social-networks__list {
  list-style: none;
  padding: 0;

  .social-networks__instagram-fill {
    fill: #cccccc;
  }



  @media (min-width: @desktop-width) {
    display: none;
  }
}

.social-networks__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 112px;
  margin: auto;
  margin-top: 42px;

  .social-networks__item:nth-child(1) {
    margin-left: 8px;
    margin-top: 1px;
  }

  .social-networks__item:nth-child(2) {
    margin-left: 8px;
    margin-top: 2px;
  }

  .social-networks__item:nth-child(3) {
    margin-left: 8px;
    margin-top: 1px;
  }
}

@media (min-width: @tablet-width) {
  .social-networks__header {
    justify-content: flex-start;
    width: 161px;
    margin: 0 0 0 0;
    margin-top: 130px;
    margin-left: 107px;
  }
  .social-networks__item:nth-child(1) svg {
    width: 14px;
    height: 28px;
    margin-left: 8px;
    margin-top: 1px;
  }
  .social-networks__item:nth-child(2) svg {
    width: 31px;
    height: 16px;
    margin-left: 29px;
    margin-top: 6px;
  }
  .social-networks__item:nth-child(3) svg {
    width: 24px;
    height: 24px;
    margin-left: 25px;
    margin-top: 3px;
  }
}
